.wrapper{
  height: 600px;
   display: inline-block;
    margin-right: 30px;
}
.content{
  width: 350px;
  float: left;
  background-color: gray;
  margin-right: 20px;
  -webkit-box-shadow: 10px 10px 5px 0px rgb(220, 255, 0);
  -moz-box-shadow: 10px 10px 5px 0px rgb(220, 255, 0);
  box-shadow: 10px 10px 5px 0px rgb(220, 255, 0);
}
.imagesslider{
  width: 350px;
    height: 200px;
  border-bottom: 2px dashed white;
}
.des{
  text-align: center;
  font-weight: bold;
}
.wr{
  width: 1200px;
  margin: auto;
}
.gambarpaket{
  width: 200px;
}
.materi{
  float: left;
  max-width: 100%;
}
